// Color Scheme

// First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

// Second Color Scheme
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

// Third Color Scheme
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

// Tipografy

// Font Family
$playfair-display: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Font Weight
$r-regular: 400;
$r-light: 300;
$r-black: 900;

// Font Size
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

// Font Style
$italic: italic;
